.image-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 10px;
  }
  
  .image-gallery .gallery-item {
    display: flex;
    justify-content: center;
    overflow: hidden;
  }
  
  .image-gallery .gallery-item img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s;
  }
  
  .image-gallery .gallery-item:hover img {
    transform: scale(1.05);
  }
  